body {
 background-image: url('Red.png');
 background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h5 {
    
    color: #ff0000; 
    font-size: 32px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align: left; 
    margin-bottom: 50px; 
}

#video {
  width: 500px;           /* Define a largura desejada */
  height: auto;           /* Mantém a proporção correta */
  display: block;
  margin: 0;
  padding: 0;
}

/* Remove qualquer espaço entre a imagem e o vídeo */
#video {
  object-fit: cover;
}